.thread {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border-left: 1px solid #e0e0e0;
    .exit-button {
        position: absolute;
        top: 0;
        right: 2%;
    }
    .thread-messages-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: scroll;
        height: 100%;
    }
    .reply-button {
        display: none;
    }
}