.messages-container {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 80%;
    padding: 2em;
    .message:first-child {
        margin-top: auto !important;
        /* use !important to prevent breakage from child margin settings */
    }
    .message {
        margin: 1em 0;
        display: flex;
        width: 100%;

        .message-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .author-image-container {
            display: flex;
            justify-content: flex-end;
            margin-right: 1em;

            img {
                width: auto;
                height: 10vh;
                border-radius: 100%;
            }
        }

        .message-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 25rem;

            .message-info {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;

                .message-author-name {
                    font-weight: bolder;
                    margin-right: 0.5em;
                }

                .message-time-stamp {
                    font-size: 0.6rem;
                }
            }

            .thread-info {
                display: flex;
                p {
                    margin: 1em 1em 0 0;
                    text-decoration: underline;
                    font-size: 0.5rem;
                    font-weight: bolder;
                }
                p:hover{
                    cursor: pointer;
                }
            }
        }
    }
}